src_27_11_2021/
postgresql/temp_27_11_2021.sql

src/vendor
src/node_modules
src/public/storage
src/Homestead.yaml
src/Homestead.json
src/.env
src/public/documents/schede_III_report/
src/public/documents/monitoraggio_III_report/
src/public/documents/monitoraggio_IV_report/
src/public/documents/schede_IV_report/
src/public/documents/REP_IV_sch_map/
src/public/documents/Habitat_Approf.zip

nginx/Dockerfile.nginx
docker_comp.zip
docker-compose-original.yml
docker-compose-original
