.text-centered {
	text-align: center;
}

.species-information-font {
	font-weight: 600;
	font-size: 16px;
	margin-left: 3px;
	vertical-align: middle;
}

.red-rectangle {
	width: 20px;
	height: 30px;
	background: red;
}

.green-rectangle {
	width: 20px;
	height: 30px;
	background: green;
}

.yellow-rectangle {
	width: 20px;
	height: 30px;
	background: yellow;
}

.grey-rectangle {
	width: 20px;
	height: 30px;
	background: grey;
}

.trend-image {
	width: 25px;
	height: auto;
}

.table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.color-yellow {
	color: yellow;
}

.color-grey {
	color: grey;
}

.panel-species-info {
	background: #23b5c8;
	border-color: #23a5c8;
	
	.panel-heading {
		background: #23a5c8;
		border-color: #23a5c8;
	}
}

.arrow-big {
	font-size: 20px;
}

.table.table-font-big {
	th {
		font-size: 16px;
	}
}

.i-box-mimi {
	margin-top: 20px;
}

.input-font-mimi-normal {
	font-size: 18px;
}

.input-font-mimi-big {
	font-size: 20px;
}

.font-mimi-big {
	font-size: 20px;
}


.sk-spinner-chasing-dots.sk-spinner {
	width: 30px;
	height: 30px;
}

.new-theme-icon {
	background-position: 0 0;
}

.icon-phylum {
	background-image: url(phylum.png) !important;
}

.icon-class {
	background-image: url(class.png) !important;
}

.icon-order {
	background-image: url(order.png) !important;
}

.icon-family {
	background-image: url(family.png) !important;
}

.mimi-table-cell-font {
	font-size: 18px;
}


/* ========================================= */
/* -----------------------------------------*/
/*   LANDING PAGE SECTION                   */
/* -----------------------------------------*/
/* ========================================= */


.mimi-focus-home-icon-species {
	background: url(../images/species_logo.png) no-repeat center;
}

.mimi-focus-home-icon-habitat {
	background: url(../images/habitat_logo.png) no-repeat center;
}


/* ========================================= */
/* -----------------------------------------*/
/*   LINKS PAGE SECTION                   	*/
/* -----------------------------------------*/
/* ========================================= */

.mimi-logo-links {
	max-width: 350px;
	height: auto;
}

/* ========================================= */
/* -----------------------------------------*/
/*   PANELS SPECIES - HABITAT             	*/
/* -----------------------------------------*/
/* ========================================= */

.p-xl {
    padding: 40px;
}

.lazur-bg, .bg-info {
    background-color: #23c6c8;
    color: #ffffff;
}

.widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

